HISTSIZE=500000
HISTFILESIZE=5000000
PROMPT_COMMAND='history -a'
shopt -s globstar
set -o vi

revlist() {
	zgrep "by default" /usr/share/man/man1/man.1.gz |
	head -n 1 |
	sed -Ee "s/^.*\"([^\"]*)\".*$/\1/g" |
	tr ' \n' ',' |
	tac -s ',' |
	sed -Ee "s/,$/\n/"
}

revman() {
	man -s $(revlist) $1
}

create_alias() {  # create_alias <alias> <alias-target> [<autocompletion-target>]
	alias $1="$2"
	COMMAND=${3:-$(echo "$2" | awk '{print $1}')}
	_completion_loader $COMMAND
	$(complete -p $COMMAND | sed "s/ $COMMAND$//") $1
}

[ -d $HOME/miniconda3 ] && source $HOME/miniconda3/etc/profile.d/conda.sh && conda activate

create_alias config 'git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME'
create_alias tcpython "LD_PRELOAD=\$(whereis libtcmalloc.so.4 | awk '{print \$2}') python" python
create_alias psync "rsync -a --no-i-r --info=progress2 --partial"
create_alias num_frames "ffprobe -v error -select_streams v:0 -of csv=p=0 -show_entries stream=nb_frames"
create_alias frame_rate "ffprobe -v error -select_streams v:0 -of csv=p=0 -show_entries stream=r_frame_rate"
